
<h2>EVを使ってイベントループを高速化する</h2>




MojoliciousはIO監視としてIO::Pollをデフォルトでは使用しますが、より速いEVを利用することもできます。MojoliciousはEVがインストールされていると自動的にIO監視でEVを利用し、パフォーマンスが向上します。EVは他のCPANモジュールと同じようにインストールすることができます。

<pre>
cpan EV
</pre>

MojoliciousからEVが見えているかを確認しましょう。

<pre>
mojo Version
</pre>

次のようにEVがインストールされていれば成功です。

<pre>
CORE
  Perl        (5.012003, linux)
  Mojolicious (2.09, Leaf Fluttering In Wind)

OPTIONAL
  EV                       (4.03)
  IO::Socket::IP           (not installed)
  IO::Socket::SSL          (1.44)
  Net::Rendezvous::Publish (not installed)
</pre>

