
<h2>HTTPメソッドを取得する</h2>



HTTPメソッドを取得するにはMojo::Message::Requestクラスの<strong>method</strong>メソッドを使用します。

<pre>
my $method = $req->method;
</pre>

以下はMojolicious::Liteでの例です。Mojo::Message::RequestオブジェクトにはMojolicious::Controllerオブジェクトのreqメソッドを使ってアクセスすることができます。

<pre>
# Mojolicious::Lite
get '/' => sub {
  my $self = shift;
  my $method = $self->req->method;
};
</pre>

以下はMojoliciousでの例です。

<pre>
# Mojolicious
package MyApp::Picture;

use Mojo::Base 'Mojolicious::Controller';

use utf8;

# ログイン画面
sub list {
  my $self = shift;
  my $method = $self->req->method;
}
</pre>

HTTPメソッドによって分岐させるときは次のようにlc関数で小文字にしてから判定するとよいでしょう。

<pre>
if (lc $self->req->method eq 'post') {
  ...
}
else {
  ...
}
</pre>

<h3>HTTPメソッド取得の動画解説</h3>

<ul>
  <li><a href="https://www.youtube.com/watch?v=e4x5lIUwFUc">HTTPメソッド取得の動画解説 - Perl元気ちゃんねる</a></li>
</ul>
