<div class="what_is_this_site">
  <div class="inside">
    <a href="https://tutorial.perlzemi.com/">Perl</a>の<b>WebフレームワークMojoliciousの入門講座</b>です。URLのルーティング、HTMLテンプレート、レスポンスの生成、JSON、Ajaxリクエスト、ログ出力、Webサーバー起動などが学べます。Mojoliciousの実行環境は、<a href="https://linux.perlzemi.com/">Unix/Linux</a>ディストーリビューションである、Debian、<a href="https://www.ubuntu-perl-web.com/">Ubuntu</a>、<a href="https://centos.perlzemi.com/">CentOS</a>、FreeBSDなどを想定します。Perl総合研究所では、オープンソースへの貢献として<a href="https://www.mojolicious-document.com/">Mojoliciousドキュメントの日本語訳</a>を行っています。
  </div>
</div>

<div class="perlri_link">
  <a href="http://www.perlri.com">
    Perl元気塾
  </a>
</div>
