<!-- side -->
<div class="side_list">
  <div class="side_list_title">
    Mojolicious講座制作
  </div>
  <ul>
    <li style="padding-top:20px;padding-bottom:20px;text-align:center"><img width="110" src="/images/kaeru_w_01.png"><a rel="nofollow" href="https://perlclub.net/"><br>ゆとりある<br>エンジニアライフを創造中<br>Perlクラブ</a></li>
  </ul>
  <div class="side_list_title">
    Mojolicious講座記事一覧
  </div>
  <ul>
    <li><a rel="nofollow" href="/list.html">記事一覧</a></li>
  </ul>
</div>

<div class="side_list">
  <div class="side_list_title">
    プロのITエンジニアになる方法
  </div>
  <div class="side_list_body">
    <ul>
      <li>
        <div style="text-align:center;margin-bottom:5px;">
          <a rel="nofollow" href="https://perlclub.net/job" target="_blank">プロのITエンジニアになるための<br>仕事の探し方・選び方</a>
        </div>
<!-- サイドバー -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gw-3+1f-3d+2z"
     data-ad-client="ca-pub-4525414114581084"
     data-ad-slot="6384959968"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>        <!-- 
        <div>
          <img src="/images/ad/ad_image_example.png">
        </div>
        -->
      </li>
    </ul>
  </div>
</div>
